<!DOCTYPE html>
<html>
<head>
    <title>Explocafora</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.2.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/species.js"></script>
    <script src="js/catalog.js"></script>
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <style type="text/css">
        .auto-grid {
            -moz-column-count: 2;
            -moz-column-gap: 1px;
            -webkit-column-count: 2;
            -webkit-column-gap: 1px;
            column-count: 2;
            column-gap: 1px;
            width: auto;
        }

        .auto-grid > div {
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<body>
<% include ./partials/headerMenu %>
<div class="w3-container row">
    <div class="col-md-12 col-xs-12 col-lg-12" style="background-color: gray;">
        <div class="w3-card-12" style="background-color: white;">
            <div class="w3-container w3-center">
                <p id="numSpecies"></p>
            </div>
        </div>
    </div>
</div>
<div id="known" class="w3-container row auto-grid">

</div>
<div id="unknown" class="w3-container row auto-grid">

</div>
<div id="dialogs">
</div>
</body>
</html>

