<!DOCTYPE html>
<html>
<head>
    <title>Explocafora</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.2.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/catalog.js"></script>
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<% include ./partials/headerMenu %>
<div class="w3-container row">
    <div class="col-md-12 col-xs-12 col-lg-12" style="background-color: gray; padding: 5px;">
        <div class="w3-card-12" style="background-color: white;">
            <div class="w3-container w3-center">
                <p id="numSpecies"></p>
            </div>
        </div>
    </div>
</div>
<div id="known" class="w3-container row">

</div>
<div id="unknown" class="w3-container row">

</div>
</body>
</html>

