<!DOCTYPE html>
<html>
<head>
    <title>Explocafora</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.2.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <link href="css/index.css" rel="stylesheet">
    <script src="js/maps.js"></script>
    <script src="js/fog.js"></script>
    <script src="js/species.js"></script>
</head>
<body>
<% include ./partials/headerMenu %>

<div id="main_div" class="">
    <div id="" class="div_borders div_full_height">
        <div class="div_full_height">
            <div id="map" class="div_full_height"></div>
        </div>
    </div>
    <div id="showSpecies" class="div_borders">
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>
</html>