<!DOCTYPE html>
<html>
<head>
    <title>Explocafora</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.2.2.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
        #target {
            width: 345px;
        }
    </style>
</head>
<body>
<% include ./partials/headerMenu %>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="main_div" class="">
    <div id="" class="div_borders div_full_height">
        <div class="div_full_height">
            <div id="map" class="div_full_height"></div>
        </div>
    </div>
    <div id="showSpecies" class="div_borders">
    </div>
</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<link href="css/index.css" rel="stylesheet">
<script src="js/fog.js"></script>
<script src="js/species.js"></script>
<script src="js/searchByLocation.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapSearch&libraries=places" async defer></script>
</body>
</html>